# generic rules
*~
*.[ao]
*.l[ao]
*.backup
*.old
*.rej
.pc

tags
TAGS
cscope.*
!.gitignore

# local rules
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/defines.texi
doc/mdate-sh
doc/stamp-vti
doc/texinfo.tex
doc/version.texi
install-sh
sedscript
libtool
ltmain.sh
stamp-h1
stamp-h
mkinstalldirs
missing
pkgsrc/*.sh
cscope.*
TAGS
tags
aclocal.m4
mk
include/net-snmp/net-snmp-config.h.in
EXAMPLE.conf
agent/mibgroup/agent_module_dot_conf.h
agent/mibgroup/agent_module_includes.h
agent/mibgroup/agent_module_inits.h
agent/mibgroup/agent_module_shutdown.h
agent/mibgroup/mib_module_dot_conf.h
agent/mibgroup/mib_module_includes.h
agent/mibgroup/mib_module_inits.h
agent/mibgroup/mib_module_shutdown.h
agent/snmpd
apps/agentxtrap
apps/encode_keychange
apps/snmpbulkget
apps/snmpbulkwalk
apps/snmpdelta
apps/snmpdf
apps/snmpget
apps/snmpgetnext
apps/snmpnetstat/snmpnetstat
apps/snmpset
apps/snmpstatus
apps/snmptable
apps/snmptest
apps/snmptranslate
apps/snmptrap
apps/snmptrapd
apps/snmpusm
apps/snmpvacm
apps/snmpwalk
config.guess.cdbs-orig
config.sub.cdbs-orig
configure-summary
include/net-snmp/agent/agent_module_config.h
include/net-snmp/agent/mib_module_config.h
include/net-snmp/library/snmpv3-security-includes.h
include/net-snmp/net-snmp-config.h
include/net-snmp/system/kfreebsd.h
local/*.made
local/ipf-mod.pl.made
local/mib2c.made
local/snmpcheck
local/snmpcheck.made
local/snmpconf.made
local/tkmib.made
local/traptoemail.made
net-snmp-config
net-snmp-config-x
perl/agent/agent.bs
perl/agent/agent.c
perl/agent/default_store/default_store.bs
perl/agent/default_store/default_store.c
perl/agent/default_store/pm_to_blib
perl/agent/pm_to_blib
perl/agent/Support/pm_to_blib
perl/ASN/ASN.bs
perl/ASN/ASN.c
perl/ASN/pm_to_blib
perl/blib
perl/default_store/default_store.bs
perl/default_store/default_store.c
perl/default_store/pm_to_blib
perl/OID/OID.bs
perl/OID/OID.c
perl/OID/pm_to_blib
perl/pm_to_blib
perl/SNMP/pm_to_blib
perl/SNMP/SNMP.bs
perl/SNMP/SNMP.c
perl/SNMP/t/snmptest.cmd
perl/TrapReceiver/pm_to_blib
perl/TrapReceiver/TrapReceiver.bs
perl/TrapReceiver/TrapReceiver.c
perl/TrapReceiver/const-c.inc
perl/TrapReceiver/const-xs.inc
python/build
python/netsnmp_python.egg-info
snmplib/snmpsm_init.h
snmplib/transports/snmp_transport_inits.h
man/add_mibdir.3
man/add_module_replacement.3
man/agentxtrap.1
man/config_perror.3
man/config_pwarn.3
man/default_store.3
man/default_store.3.h
man/encode_keychange.1
man/fixproc.1
man/fprint_description.3
man/fprint_objid.3
man/fprint_value.3
man/fprint_variable.3
man/get_module_node.3
man/manaliases
man/mib2c-update.1
man/mib2c.1
man/mib2c.conf.5
man/net-snmp-config.1
man/net-snmp-create-v3-user.1
man/netsnmp_agent_api.3
man/netsnmp_config_api.3
man/netsnmp_init_mib.3
man/netsnmp_mib_api.3
man/netsnmp_pdu_api.3
man/netsnmp_read_module.3
man/netsnmp_sess_api.3
man/netsnmp_session_api.3
man/netsnmp_trap_api.3
man/netsnmp_varbind_api.3
man/print_description.3
man/print_mib.3
man/print_objid.3
man/print_value.3
man/print_variable.3
man/read_all_mibs.3
man/read_config_print_usage.3
man/read_configs.3
man/read_mib.3
man/read_objid.3
man/read_premib_configs.3
man/register_app_config_handler.3
man/register_app_prenetsnmp_mib_handler.3
man/register_config_handler.3
man/register_const_config_handler.3
man/register_mib_handlers.3
man/register_prenetsnmp_mib_handler.3
man/send_easy_trap.3
man/send_trap_vars.3
man/send_v2trap.3
man/shutdown_mib.3
man/snmp.conf.5
man/snmp_add_null_var.3
man/snmp_alarm.3
man/snmp_alarm_register.3
man/snmp_alarm_register_hr.3
man/snmp_alarm_unregister.3
man/snmp_api_errstring.3
man/snmp_clone_pdu.3
man/snmp_clone_varbind.3
man/snmp_close.3
man/snmp_config.5
man/snmp_error.3
man/snmp_fix_pdu.3
man/snmp_free_pdu.3
man/snmp_free_var.3
man/snmp_free_varbind.3
man/snmp_open.3
man/snmp_parse_oid.3
man/snmp_pdu_add_variable.3
man/snmp_pdu_create.3
man/snmp_perror.3
man/snmp_read.3
man/snmp_select_info.3
man/snmp_send.3
man/snmp_sess_async_send.3
man/snmp_sess_close.3
man/snmp_sess_error.3
man/snmp_sess_init.3
man/snmp_sess_open.3
man/snmp_sess_perror.3
man/snmp_sess_read.3
man/snmp_sess_select_info.3
man/snmp_sess_send.3
man/snmp_sess_session.3
man/snmp_sess_timeout.3
man/snmp_set_mib_errors.3
man/snmp_set_mib_warnings.3
man/snmp_set_save_descriptions.3
man/snmp_set_var_objid.3
man/snmp_set_var_typed_integer.3
man/snmp_set_var_typed_value.3
man/snmp_set_var_value.3
man/snmp_timeout.3
man/snmp_varlist_add_variable.3
man/snmpbulkget.1
man/snmpbulkwalk.1
man/snmpcmd.1
man/snmpconf.1
man/snmpd.8
man/snmpd.conf.5
man/snmpd.examples.5
man/snmpd.internal.5
man/snmpdelta.1
man/snmpdf.1
man/snmpget.1
man/snmpgetnext.1
man/snmpnetstat.1
man/snmpset.1
man/snmpstatus.1
man/snmptable.1
man/snmptest.1
man/snmptranslate.1
man/snmptrap.1
man/snmptrapd.8
man/snmptrapd.conf.5
man/snmpusm.1
man/snmpvacm.1
man/snmpwalk.1
man/snprint_description.3
man/snprint_objid.3
man/snprint_value.3
man/snprint_variable.3
man/tkmib.1
man/traptoemail.1
man/unregister_all_config_handlers.3
man/unregister_app_config_handler.3
man/unregister_config_handler.3
man/variables.5
net-snmp-create-v3-user
