*~
*.[ao]
*.l[ao]
*.backup
*.old
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
debian/build-stamp
debian/files
depcomp
doc/defines.texi
doc/mdate-sh
doc/stamp-vti
doc/texinfo.tex
doc/version.texi
install-sh
libtool
ltmain.sh
stamp-h1
mkinstalldirs
missing
pkgsrc/*.sh
cscope.*
TAGS
tags
aclocal.m4
mk/
python/build/
